.promotion
  .col-md-8.col-xs-12
    .title.col-md-8.col-xs-12
      Curso de medición e informes de Social Media - Barcelona
    .lead
      Todo lo que necesitas conocer para medir tu Marca, tus clientes y
      tu competencia en Redes Sociales.
    .row
      .details.col-md-7.col-sm-8.col-xs-12
        %span
          Fecha:
        31 Marzo, 2017
        %span
          Lugar:
        Talent Garden
      .action.col-md-5.col-sm-4.col-xs-12
        = link_to 'http://bit.ly/BcnCuSM', class: 'tickets', title: 'Consigue tu entrada', target: '_blank' do
          Reserva tu entrada
  .col-md-4