.footer
  .container
    %ul{ class: 'list-inline' }
      %li 
        Copyright ©2011-2016 Patricia Carmona |
      %li
        Aviso Legal |
      %li
        Política de privacidad |
      %li
        %a{ 'data-toggle':"modal", 'data-target': "#main-modal", rel: 'no-follow' }
          Política de cookies