%meta{ name: 'author', content: 'Patricia Carmona' }
%meta{ name: 'publisher', content: 'Patricia Carmona' }
%meta{ name: 'description', content: 'Patricia Carmona, analista de social media. Hablo sobre Social Media y Marketing. Puedes encontrar noticias, cursos, informes y recursos. ¡Únete a mi comunidad!' }
%meta{ name: 'keywords', content: 'social media, marketing, cursos, informes, recursos, blog, campañas, redes sociales' }

%meta{ property: 'og:title', content: 'Patricia Carmona | Análisis Social Media' }
%meta{ property: 'og:type', content: 'blog' }
%meta{ property: 'og:url', content: 'http://www.patriciacarmona.com' }
%meta{ property: 'og:image', content: header_meta_image(image_path('author.jpg')) }
%meta{ property: 'og:site_name', content: 'Patricia Carmona' }
%meta{ property: 'og:description', content: 'Patricia Carmona, analista de social media. Hablo sobre Social Media y Marketing. Puedes encontrar noticias, cursos, informes y recursos. ¡Únete a mi comunidad!' }

%meta{ name: 'twitter:card', content: 'summary_large_image' }
%meta{ name: 'twitter:site', content: '@patricrp' }
%meta{ name: 'twitter:domain', content: 'www.patriciacarmona.com' }
%meta{ name: 'twitter:title', content: 'Patricia Carmona | Análisis Social Media' }
%meta{ name: 'twitter:description', content: 'Patricia Carmona, analista de social media. Hablo sobre Social Media y Marketing. Puedes encontrar noticias, cursos, informes y recursos. ¡Únete a mi comunidad!' }
%meta{ name: 'twitter:image', content: header_meta_image(image_path('author.jpg')) }

%meta{ property: 'fb:admins', content: '1567942686751387'}
%link{rel:"canonical", href:"http://www.patriciacarmona.com/"}