%meta{ name: 'author', content: '[]' }
%meta{ name: 'publisher', content: '[]' }
%meta{ name: 'description', content: '[]' }
%meta{ name: 'keywords', content: '[]' }

%meta{ property: 'og:type', content: 'blog' }
%meta{ property: 'og:url', content: 'http://www.patriciacarmona.com' }
%meta{ property: 'og:image', content: '[image]' }
%meta{ property: 'og:site_name', content: 'Patricia Carmona' }
%meta{ property: 'og:description', content: '[]' }

%meta{ name: 'twitter:card', content: 'summary_large_image' }
%meta{ name: 'twitter:site', content: '@patricrp' }
%meta{ name: 'twitter:domain', content: 'www.patriciacarmona.com' }
%meta{ name: 'twitter:title', content: '[Title]' }
%meta{ name: 'twitter:description', content: '[Description]' }
%meta{ name: 'twitter:image', content: '[Image]' }

%meta{ property: 'fb:admins', content: '[id_fb]' }