.about
  .container
    #about-me.active
      %h2.col-md-8.col-xs-8.right
        Sobre mí
      %p.col-md-8.col-xs-8.right
        Soy Patricia Carmona y soy analista de Social Media y Planner. Mido, analizo e interpreto objetivos, estrategias y acciones en la Red.
      %p.col-md-8.col-xs-8.right
        Mi misión principal es estudiar y dar a conocer las posibilidades que tiene el contenido que los usuarios comparten, para potenciar tus estrategias de Marketing Online.
      %div.col-md-8.col-xs-8.right
        %p.center
          %strong
            Mi lema: 
          “En Internet eres lo que publicas, eres lo que compartes”
      %div.col-md-8.col-xs-8.right
        %p
          Mis 
          %strong 
            3 principales 
          áreas de trabajo son:
        %ul{ class: 'services list-inline'}
          %li.itemSlideInfo{'data-target': 'service-1'}
            Análisis
          %li.itemSlideInfo{'data-target': 'service-2'}
            Marketing
          %li.itemSlideInfo{ 'data-target': 'service-3' }
            Social Media

    = render partial: 'home/services'