.content
  .row
    .menu.col-md-12
      .content-menu
        %ul.list-inline
          %li
            = link_to 'Blog', blog_path()
          %li
            = link_to 'Porfolio', nil
          %li.logo
            Patricia Carmona
          %li
            = link_to 'Sobre mí', nil
          %li
            = link_to 'Contáctame', '#contact'