.header
  .container
    .row-fluid
      .col-md-12
        .col-md-8
          .row-fluid
            %h1.title
              Patrica Carmona
            %h2.subtitle
              Soy la analista del .com, la analista mas dicharachera a este lado del río Guadalquivir.
        .col-md-4
    .row-fluid
      .col-md-12
        .subscription
          = render partial: 'subscriptions/form'