.header
  .container
    .row-fluid
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.right.navbar_header
          %li
            = link_to "Blog", "/path1" 
          %li.separator
            ='/'
          %li
            = link_to "Sobre mí", "/about-me"
          %li.separator
            ='/'
          %li.last
            = link_to "Contacto", "/about-me#contact" 
    .row-fluid
      .col-md-12.col-xs-12
        .col-md-8.col-xs-6.lead
          .row-fluid
            %h1.title
              %span
                Patrica 
              Carmona
            %h2.subtitle
              Soy la analista del .com, la analista mas dicharachera a este lado del río Guadalquivir.
        .col-md-4
    .row-fluid
      .col-md-8.col-xs-5.left.subscription-header
        .subscription
          = render partial: 'subscriptions/form'