.header
  .container
    .row-fluid
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.navbar_header
          %li
            = link_to "Blog", "/path1"
          %li.separator
            ='/'
          %li
            = link_to "Sobre mí", "/about-me"
          %li.separator
            ='/'
          %li.last
            = link_to "Contacto", "/about-me#contact"
    .row-fluid
      .col-md-12.col-xs-12
        .col-md-8.col-xs-6.lead
          .row-fluid
            %h1.title
              Patrica Carmona
            %h2.title
              ANALÍSTA DE SOCIAL MEDIA
        .col-md-4
    .row-fluid
      .left.subscription-header
        .subscription
          = render partial: 'subscriptions/form'