#service-1.service.service-hidden
  %h2.col-md-8.right
    Service 1
  %p.col-md-8.right
    Lorem fistrum quietooor caballo blanco caballo negroorl llevame al sircoo. Ese que llega llevame al sircoo mamaar qué dise usteer a wan diodenoo de la pradera ahorarr jarl. Apetecan fistro de la pradera tiene musho peligro al ataquerl benemeritaar pupita a gramenawer. A wan qué dise usteer se calle ustée te va a hasé pupitaa condemor va usté muy cargadoo se calle ustée diodeno se calle ustée mamaar amatomaa. Te voy a borrar el cerito me cago en tus muelas ahorarr benemeritaar te va a hasé pupitaa te voy a borrar el cerito ahorarr caballo blanco caballo negroorl al ataquerl benemeritaar. Fistro torpedo diodenoo se calle ustée apetecan pupita. Torpedo te voy a borrar el cerito a wan ese que llega no te digo trigo por no llamarte Rodrigor. Quietooor ese que llega a peich fistro. No puedor caballo blanco caballo negroorl papaar papaar me cago en tus muelas sexuarl tiene musho peligro.
  %ul.col-md-8.right.list-inline
    %li.sub-item.left.itemSlideInfo{'data-target': 'about-me'}
      < About me
    %li.sub-item.right.itemSlideInfo{'data-target': 'service-2'}
      Service 2 >
#service-2.service.service-hidden
  %h2.col-md-8.right
    Service 2
  %p.col-md-8.right
    Lorem fistrum quietooor caballo blanco caballo negroorl llevame al sircoo. Ese que llega llevame al sircoo mamaar qué dise usteer a wan diodenoo de la pradera ahorarr jarl. Apetecan fistro de la pradera tiene musho peligro al ataquerl benemeritaar pupita a gramenawer. A wan qué dise usteer se calle ustée te va a hasé pupitaa condemor va usté muy cargadoo se calle ustée diodeno se calle ustée mamaar amatomaa. Te voy a borrar el cerito me cago en tus muelas ahorarr benemeritaar te va a hasé pupitaa te voy a borrar el cerito ahorarr caballo blanco caballo negroorl al ataquerl benemeritaar. Fistro torpedo diodenoo se calle ustée apetecan pupita. Torpedo te voy a borrar el cerito a wan ese que llega no te digo trigo por no llamarte Rodrigor. Quietooor ese que llega a peich fistro. No puedor caballo blanco caballo negroorl papaar papaar me cago en tus muelas sexuarl tiene musho peligro.
  %ul.col-md-8.right.list-inline
    %li.sub-item.left.itemSlideInfo{'data-target': 'service-1'}
      < Service 1
    %li.sub-item.right.itemSlideInfo{'data-target': 'service-3'}
      Service 3 >
#service-3.service.service-hidden
  %h2.col-md-8.right
    Service 3
  %p.col-md-8.right
    Lorem fistrum quietooor caballo blanco caballo negroorl llevame al sircoo. Ese que llega llevame al sircoo mamaar qué dise usteer a wan diodenoo de la pradera ahorarr jarl. Apetecan fistro de la pradera tiene musho peligro al ataquerl benemeritaar pupita a gramenawer. A wan qué dise usteer se calle ustée te va a hasé pupitaa condemor va usté muy cargadoo se calle ustée diodeno se calle ustée mamaar amatomaa. Te voy a borrar el cerito me cago en tus muelas ahorarr benemeritaar te va a hasé pupitaa te voy a borrar el cerito ahorarr caballo blanco caballo negroorl al ataquerl benemeritaar. Fistro torpedo diodenoo se calle ustée apetecan pupita. Torpedo te voy a borrar el cerito a wan ese que llega no te digo trigo por no llamarte Rodrigor. Quietooor ese que llega a peich fistro. No puedor caballo blanco caballo negroorl papaar papaar me cago en tus muelas sexuarl tiene musho peligro.
  %ul.col-md-8.right.list-inline
    %li.sub-item.left.itemSlideInfo{'data-target': 'service-2'}
      < Service 2

= render partial: 'home/services.js'