.row
  = render partial: 'home/header'
.row.blog-section
  .blog-info
    = render partial: 'posts/list', locals: { posts: @posts, last_post: @last_post  }
.row
  = render partial: 'layouts/shared/footer'