.confirmation
  %h2
    ¡Gracias por unirte a mi comunidad!
  %p
    Si quieres puedes seguirme también en
    = link_to 'http://twitter.com/patricrp', rel: 'no-follow', target: '_blank' do
      %i.fa.fa-twitter.twitter