%h3.title
  ¿Quieres recibir mis artículos directamente en tu correo?
= form_for 'subscription', url: nil, html: { class: :form } do |f|
  .col-md-2
    = f.text_field :name, placeholder: 'Name', class: 'form-control'
  .col-md-8
    = f.text_field :email, placeholder: 'Email', class: 'form-control'
  .col-md-2
    = f.submit 'Suscribirme', class:"btn btn-primary"
