%h3.title
  ¿Quieres recibir mis artículos directamente en tu correo?
%form{class:"form"}
  .col-md-2
    %input{type:"text", placeholder:"Name", class: "form-control"}
  .col-md-8
    %input{type:"text", placeholder:"E-mail address", class: "form-control"}
  .col-md-2
    %button{type:"submit", class:"btn btn-primary"}
      Subscribe