.resources-header
  .col-md-8.col-xs-12
    %h2.resources-headerTitle
      Recursos
    .lead.resources-headerLead
      %p
        %i
          "Un recurso es un medio que sirve para conseguir lo que se pretende."
      %p
        En esta sección tienes a tu disposición un conjunto de infografías, plantillas, informes y documentación que puedes descargar de forma gratuita y te ayudarán a desarrollar tu trabajo de análisis, planificación y ejecución.
  .col-md-4.hidden-xs
    .creativity