.container
  .description.col-md-9.col-sm-12.col-xs.11
    %h4
      Curso de medición e informes de Social Media - Barcelona
    %p
      Todo lo que necesitas conocer para medir tu Marca, tus clientes y tu competencia en Redes Sociales.
    %p.details
      %span
        Fecha:
      31 Marzo, 2017
      %span
        Lugar:
      Talent Garden (Barcelona)
  .action.col-md-3.col-sm-12.col-xs.1
    = link_to 'http://bit.ly/BcnCuSM', class: 'tickets', title: 'Consigue tu entrada', target: '_blank' do
      Reserva tu entrada