%h3
  = "#{comments.count} Comments"
.comment  
  %p.head-comment
    Pito pito
  %p.content-comment
    Bienvenido al Chiquito Ipsum, el generador de texto de relleno para tus diseños de antes de los dolores.
    Dale a "Fistrum" para que te salga ese pedaso de texto Chiquito en estado puro. Si te crees muy moderno dale a "Latin" que te lo pongo con cuarto y mitad de romanooo...
- comments.each do |comment|
  .comment
    %p.head-comment
      = comment.user
    %p.content-comment
      = comment.content