.row_fluid
  -if defined?(last_post)
    .row-fluid
      = render partial: 'posts/resume_post_last', locals: { post: last_post }
.row
  .list
    - old_posts.each do |post|
      .col-md-4
        = render partial: 'posts/resume_post', locals: { post: post }
- if paginate
  .pagination
    = paginate all_posts

%script
  $('.post-link').click(function(element){ $(location).attr('href',$(this).attr('data-ref'));});