.related-posts
  %h2.title
    Esto también te puede interesar
  = render partial: 'posts/related_post', locals: { post: posts.first, first: true }
  = render partial: 'posts/related_post', locals: { post: posts.last, first: false }
