%div{ id: "post_#{post.id}", class: 'item-post-list resume' }
  %h2
    = link_to post.title, show_post_path(post.slug), class: 'post_title'
  %ul.list-inline.post-info
    %li.right
      %i.icon.fa.fa-calendar
      = post.published
  .post_resume
    = post.resume

