%div{ id: "post_#{post.id}", class: 'post-resume' }
  %h3
    = link_to post.title, show_post_path(post.slug), class: 'post-resume-title'
  %ul.list-inline.post-info
    %li.right
      %i.icon.fa.fa-calendar
      = post.published
  .post-resume
    = post.resume

