#contact.contact
  .container
    .row
      = render partial: 'about/services'
    .row.about-me#about-me
      .col-md-12.col-xs-12.right
        %h2.title
          Un poco sobre mí...
        %p
          Soy Patricia Carmona, licenciada en Publicidad y Relaciones Públicas por la Universidad de Sevilla, Máster en Dirección Comercial y Marketing por la Cámara de Comercio y Postgrado en Planificación estratégica y Gestión de Cuentas por la Universidad de Sevilla.
        %p
          Desde el año 2012 trabajo en marketing digital y social media para diferentes sectores. En este tiempo mi experiencia laboral me ha llevado a trabajar en el departamento de prensa del Gobierno de Gibraltar o como consultora para la Consejería de Turismo y Deporte de la Junta de Andalucía. También he elaborado metodología de análisis, planificación y optimización a marcas más pequeñas y startups de diferentes sectores, aunque principalmente relacionadas con nuevas tecnologías (IT), a las que asesoro en temas de marketing digital y social media.
        %p
          La  importancia del análisis en comunicación y en el desarrollo de negocio es vital, es la base fundamental de una buena estrategia, por eso mi objetivo es que conozcas el potencial del contenido que se crea y se comparte en la Red para optimizar las relaciones entre marcas y usuarios.
  #contact-me.contact-section
    .container
      .col-md-7.col-xs-12.left.contact-form
        %h3.title
          ¿Trabajamos juntos?
        %p
          Cuéntame qué necesitas y me pondré en contacto contigo.
        = render partial: 'contacts/form'