#contact.contact
  .container
    .col-md-8.col-xs-8.right.lead-text
      %h3.title
        ¿Trabajamos juntos?
      %p
        Ponte en contacto conmigo y veras que divertido.
    .col-md-8.col-xs-8.right
      = render partial: 'contacts/form'