.col-md-8.col-xs-8.left.service
  %h2.title
    Análisis y planificación de tu estrategia en Social Media
  %p
    Conoce el mercado, a tus competidores y a tus clientes y cómo se mueven en el entorno digital. Así podrás adaptar tus acciones digitales a su comportamiento y descubrir oportunidades.
  %p
    Con un informe de situación inicial te ayudaré a conocer cómo se encuentra tu marca con respecto a la competencia y cómo actúan el mercado y tu público objetivo. Lo que te permitirá focalizar tu presencia en redes sociales, campañas digitales, análisis web y contenidos para lograr el mejor rendimiento.
.col-md-4.col-xs-4.rigth.service-illustration
  = image_tag(image_path('https://www.even3.com.br/Content/img/landingpage/animat-essential/animat-linechart-color.gif'))
.col-md-8.col-xs-8.right.service
  %h2.title
    Marketing digital hecho a tu medida
  %p
    Si ya tienes un plan y solo tienes que llevarlo a cabo, cuenta conmigo para ejecutar las diferentes acciones, medir los resultados y mejorarlos, teniendo en cuenta las respuestas que los usuarios van generando en tiempo real, y es que los datos cobran valor cuando se les da utilidad.
  %p
    Mi experiencia en el mundo del Social Media y el Marketing Digital, con grandes y pequeñss marcas, con acciones puntuales y coordinando planes a largo plazo, ayudará al desarrollo de campañas de publicidad, e-mail marketing, a la creación de contenido para diferentes canales, así como acciones con influencers y medios para potenciar la presencia digital, el conocimiento de la marca, la relación con los usuarios, como también la redirección de tráfico a web, las llamadas a la acción y la venta final.
.col-md-4.col-xs-4.left.service-illustration
  = image_tag(image_path('https://www.even3.com.br/Content/img/landingpage/animat-essential/animat-rocket-color.gif'))
.col-md-8.col-xs-8.left.service
  %h2.title
    Asesoramiento y formación personalizados
  %p
    La metodología de trabajo en un departamento de marketing en el entorno digital debe adaptarse a los recursos de tu empresa. Para ello, te propongo una consultoría personalizada donde trabajar juntos y diseñar un procedimiento que sea acorde a las necesidades de tu empresa y de tu equipo.
  %p
    Tu equipo será más productivo y creativo en la búsqueda de oportunidades y soluciones, así como en la ideación de nuevas acciones y contenidos, para comunicar de forma diferencial, después de poner en marcha nuevas dinámicas diseñadas ad hoc para tu empresa. Y tú eliges si quieres que esa nueva guía la trabajemos de manera online o presencial.
.col-md-4.col-xs-4.rigth.service-illustration
  = image_tag(image_path('https://www.even3.com.br/Content/img/landingpage/animat-essential/animat-checkmark-color.gif'))