@import "fonts";

body{
	background: #f5f5f5;
}
ul{
  list-style:none;
  padding:0;
  margin:0 !important;
}
a{
	pointer: cursor;
}
.center{
  text-align: center;
}
.right{
  float:right;
}

.left{
  float:left;
}

/* Home */
#blog {
  font-family: $font-content;
  .container{
    background-color: white;
    width: 100%;
    margin: 0;
    .header{
      background: #f5f5f5;
      margin:0 auto;
      width: 100%;
      overflow:hidden;
      display:block;
      border-bottom: 1px #ccc solid;
      padding: 30px 0;
      background: url('patri_header.png') no-repeat 0 0 ;
      .container{
        .col-md-4, .col-md-8, col-md-12, col-md-2{
          padding: 0;
        }
        width: 927px;
        background-color: transparent;
        margin: 0 auto;
      }
      .title{
        font-family: $font-title;
        span{
          font-family: $font-titleHighlight;
        }
      }
      .subtitle{
        font-family: $font-subtitle;
      }
      .subscription h3.title{
        font-family: 'MaisonNeue-Semi';
        font-size: 18px;
      }
    }
    .blog-info{
      max-width: 927px;
      margin: 2em auto 0 auto;
    }
    .about{
      margin:0 auto;
      display:block;
      min-height: 200px;
      .content{
        max-width: 927px;
      }
    }
    .contact{
      background-color: #333;
      width: 100%;
      display:block;
      min-height: 200px;
      color: white; 
    }
  }
  div.pagination{
    text-align:center;
    width: 100%;
    nav.pagination{
      width: 100%;
      text-align:center;
    }
    .page, .last, .next, .prev, .first {
      border: 2px #ccc solid;
      padding: 8px 12px;
      cursor: pointer;
      margin: 0 3px;
      a{
          color: #3b444f;
      }
    }
    .page.current{
      color: #428bca;
      border-color: #428bca;
    }
  }
}

/* Navbar */
#navbar{
  margin-bottom: 0;
  background: #f5f5f5;
  .container{
    padding: 0;
    background-color: #f5f5f5;
    max-width: 927px;
    margin:0 auto;
  }
  .navbar-collapse{
    width: 100%;
    background-color: #f5f5f5 !important;
  }
}

/* Sides */
.sidebar-nav{
}

/* Posts */
#single-post{
  .container-fluid{
    padding:0;
  }
  .navbar{
    margin-bottom: 0;
  }
}

.post{
  margin: 0 auto;
  background-color: white;
  width:100%;
  .post-info{
    color: #21b384;
    padding: 10px 0;
    i{
      color: #ccc
    }
  }
  .post-actions{
    padding: .5em;
    overflow:hidden;
  }
  .post-title{
	  color: #333;
    font-size: 51px;
    padding: 10px 15px;
    text-align: center;
    font-family: $font-title;
	  &:hover{
	    text-decoration: none;
	    olor: #333;
	  }
  }
  .post-subtitle{
    font-family: $font-subtitle;
    text-align:center;
    font-size: 24px;
  }
  .post-content{
    max-width: 927px;
    font-size: 18px;
    padding: 10px 15px;
    margin: 0 auto;
    background: #fff;
    letter-spacing: 0.25px;
  }
}
.post-footer{
  margin: 0 auto;
  padding: 2em 0;
  max-width: 927px;
  .author-info{
    .author-img{
      border-radius: 500px;
      height: 100px;
    }
    .author-title{}
    .author-description{
    }
    .subscription{}
  }
}
/* Post Resume */
.post-resume{
  margin: 10px auto 30px auto;
  background-color: white;
  .post-resume-content{
    max-width: 927px;
    font-size: 18px;
    padding: 10px 0px;
    margin: 0 auto;
    background: #fff;
    letter-spacing: 0.25px;
  }
  .post-info{
    padding: 10px 0;
    li{
      padding: 0;
    }
  }
  .post-resume-title{
    color: #333;
    font-size: 36px;
    padding: 10px 0px;
    text-align: center;
    font-family: $font-title;
    &:hover{
      text-decoration: none;
      olor: #333;
    }
  }
}

/* About me */

.about {
  background: url('patri_about.jpg')
    no-repeat left bottom;
  color: #333;
  .container {
    overflow:hidden;
    max-width: 927px !important;
    background: transparent !important;
    margin: 0 auto !important;
    padding: 0 0 20px 0;
    h2{
      margin: 20 0;
    }

  }
}

/* Contact */

.contact{
  padding: 20px 0px;
  .container{
    padding: 20px 0;
    max-width: 927px !important;
    background-color: transparent !important;
    margin: 0 auto !important;
    h3{
      margin-top: 0px;
    }
  }
  form{
    max-width: 927px;
    margin: 0 auto;
    div{
      padding: 0px 1px;
    }
    input, textarea{
      background-color: transparent;
      color: white;
      font-weight: 200;
      border-radius: 0;
      padding: 20px 10px;
      &[type=submit]{
        background-color: #d6131d;
        border-color: #d6131d;
        padding: 10px;
        border-radius: 0;
        width: 100%;
        color: white;
        font-family: 'MaisonNeue-Book';
        &:hover{
          background-color: #d6131d;
          border-color: #d6131d;
        }
      }
    }
    margin: 0 auto;
  }
  .confirmation, .error{
    padding: 20px 10px;
    text-align: center;
    color: white;
  }
}

/* Subscription */
.subscription{
  background-color: #333;
  color: white;
  padding: 1em 0 3em 0;
  .header &{
    color: #333;
    background-color: transparent;
    input{
      color: #333;
    }
    .title{
<<<<<<< ec730af06aa2b9a8e029cc454ea468abfed2f824
      font-family: $font-title !important;
=======
      font-family: 'MaisonNeue-Book' !important;
>>>>>>> Add new style to share content
    }
  }
  .title{
    margin-bottom: 1em;
    text-align: center;
  }
  .confirmation{
    padding: 20px 10px;
    text-align: center;
    background: #333;
    border-radius: 5px;
    color: white;
    opacity: .75;
  }
  .error{
    padding: 20px 10px;
    text-align: center;
    background: #333;
    color: white;
    opacity: .75;
  }
  form{
    max-width: 927px;
    margin: 0 auto;
    div{
      padding: 0px 1px;
    }
    input{
      background-color: transparent;
      color: white;
      font-weight: 200;
      border-radius: 0;
      padding: 20px 10px;
      &[type=submit]{
        background-color: #d6131d;
        border-color: #d6131d;
        padding: 10px;
        border-radius: 0;
        width: 100%;
        color: white;
        font-family: 'MaisonNeue-Bold';
        &:hover{
          background-color: #d6131d;
          border-color: #d6131d;
        }
      }
    }
    margin: 0 auto;
  }
}

/*  Cookies Alert */
.cookies-alert {
  position: fixed; 
  bottom: 0;
  background-color: #333;
  width: 100%;
  .content{
    color: white;
    font-family: $font-subtitle;
    max-width: 927px;
    margin: 0 auto;
    padding: 10px;
    a {
      cursor: pointer;
    }
    button { 
      border: 1px white solid;
      background: none;
    }
  }
}
