@import 'patricia_carmona_colors';
@import "fonts";

/* Sizes */

$width-container: 100%;

/* Commons */
a{
  color: $link-color;
  &:hover{
    color: #684e79;
    text-decoration: none;
  }
}

/* Navbar */
.menu-buttonOpen {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
}
/* Mobile side-nav */
.side-navbar{
  display: none;
  transition: display 1s ease-in-out;
  .container{
    background: transparent !important;
    padding: 0 15px;
    .side-navbarHeader{
      text-align: center;
      img{
        border-radius:50%;
        width:60%;
        margin: 30px 0 20px 0;
      }
      h2{
        font-family: $font-blogName;
        font-size: 64px;
      }
    }
    .nav{
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        font-family: $font-subtitle;
        font-size: 24px;
        width: 100%;
        margin-bottom: 10px;
        a {
          color: $content;
        }
        &.button{
          text-align: center;
          a{
            background: $content;
            color: white;
            border-radius: 15px;
            padding: 5px 15px;
            width:auto;
          }
        }
        &.follow-me{
          padding-top: 10px;
          li {
            width: 49%;
            i.feedly{
              background: url(feedly.png) 0px 3px no-repeat;
              padding-left: 27px;
            }
          }
        }
      }
    }
  }
}

body.open-sidenav{
  height: 100%;
  overflow: hidden;
  .side-navbar{
    background-color: #f5f5f5;
    display: block;
    position:absolute;
    transition: display 1s ease-in;
    width:90%;
    height: 100%;
    z-index: 100000;
  }
}

/* Header */
#blog > .container{
  padding: 0;
}
#blog {
  .container {
    background-color: white;
    .header {
      background: #f5f5f5;
      margin-top: 0px;
      min-height: 350px;
      padding: 45px 15px;
      .container {
        width: $width-container;
        padding: 0 10px;
        overflow: hidden;
        .subscription-header{
          width: 100%;
        }
        .col-md-12{
          .lead{
            width: 100% !important;
            margin-bottom: 0;
          }
          padding: 0;
          h1 {
            font-family: $font-blogName;
            font-size: 75px;
            margin: 30px 0 0 0;
          }
          h2 {
            font-family: $font-subtitle !important;
            font-size: 24px;
            margin-top: 0;
          }
        }
      }
    }
    .blog-info {
      margin: 0;
      .blog-infoTitle {
        font-family: $font-titleHighlight;
        font-size: 36px;
        margin: 0;
        padding: 20px 45px 0 45px;
      }
      .see-more {
        text-align: center;
        margin: 20px 0;
        .btn {
          color: $content;
          background: transparent;
          border: 1px $content solid;
          border-radius: 100px;
          padding: 5px 15px;
          font-size: 18px;
          transition: color .35s ease-in-out;
          .btn:hover {
            background-color: $content;
            color: white;
          }
        }
      }
    }
  }
}

/* Post */

.post {
  padding: 10px;
  .post-title {
    color: $title;
  }
  .post-subtitle {
    color: $sub-title;
    margin-bottom: 2em;
  }
  .post-content {
    font-family: $font-content;
    color: $content;
    .medium-insert-images-progress{
      display:none;
    }
    img {
      margin: 1em 0;
    }
  }
  .share-postLabel{
    font-family: 'Indie Flower', cursive;
    color: $link-color;
    width: 220px !important;
  }
  .post-actions {
    padding: 10px 0;
    li{ 
      width: 30px; 
      height: 30px;
      background-position: center top;
      background-size: 100% auto;
      background-repeat: no-repeat;
      padding: 0;
      margin-left: 10px;
      &:last-child{
        width: 100px;
        padding-top: 3px;
      }
      a{
        display: block;
        width: 100%;
      }
    }
    .linkedin { background-image: url('icons/linkedin.png') }
    .facebook { background-image: url('icons/facebook.png') }
    .twitter { background-image: url('icons/twitter.png') }
    .google { background-image: url('icons/google.png') }
  }
}

.author-info{
  color: #3b444f;
  padding: 10px;
  overflow: hidden;
  .title{
    font-family: $font-title;
    font-size: 22px;
  }
  p {
    font-family: $font-subtitle;
    font-size: 18px;
  }
  .see_more {
    float: right;
    a {
      font-family: $font-subtitle;
      font-size: 18px;
    }
  }
}
.author-infoAvatar{
  text-align:center;
  img{
    border: 1px #ccc solid;
  }
}
.author-links{
  width:100%;
  text-align: center;
}
/* Post Resume */

.post-resume{
  padding: 0px 15px 20px 15px;
  .date {
    display:none;
  }
  .tags {
    overflow:hidden;
    padding: 0;
  }
  .date-secondary {
    padding: 0px;
    display:block;
    color: $content-secondary;
    float:right;
    font-size: 14px;
    font-family: $font-subtitle;
    text-align: right;
  }
  .post-resume-title{
    float: left;
    color: $font-titleHighlight;
    overflow: hidden;
    text-align: left;
    margin-top: 10px;
    width: 100%;
    a {
      padding: 0;
    }
  }
  .post-image {
    height: 200px;
    margin: 10px 0 20px 0;
  }
  .post-resume-content{
    color: $content;
    width: 100%;
    clear: both;
    font-size: 1.5em;
    padding: 10px;
  }
  .post-readmore {
    float:right;
    font-family: $font-subtitle;
    font-size: 18px;
    margin-top: 20px;
  }
  .post-info{
    color: $content;
    font-style: italic;
    font-weight: 200;
  }
} 

/* Footer */
.footer {
  display:none;
}

/* Subscription Block */
.subscription {
  background-color: $dark-block;
  .title{
    font-family: $font-title;
  }
  form {
    input[type=text] {
      font-family: $font-subtitle;
    }
    input[type=submit] {
      font-family: $font-subtitle;
      background-color: #cb2027;
      border: 1px #cb2027 solid;
      cursor: pointer;
      transition: background-color 0.5s ease;
    }
    input[type=submit]:hover {
      background: $link-color;
      border-color: $link-color;
    }
  }
}

.subcription-post{
  padding: 2em;
}

/* About */

.about{
  padding: 10px;
  background: #f5f5f5;
  border-top: 3px rgba(204,204,204,0.6) solid;
  h2 {
    font-family: $font-title;
    width: 100%;
  }
  p{
    width: 100%;
  }
  div.right{
    width: 100%;
  }
  ul {
    width: 100%;
  }
  ul.services {
    text-align: center;
    margin: 2em 0 1em 0 !important;
    overflow: hidden;
    li {
      width: 120px;
      margin-left: 10px;
      text-align:center;
      border: 2px $dark-block solid;
      padding: 10px 0;
      margin-bottom: 5px;
      cursor: pointer;
      transition: background-color 0.5s ease;
      &:hover{
        background: $link-color;
        border-color: $link-color;
        color: white;
      }
    }
  }
  #about-me-hidden {
    display: none;
  }
  .service{
    .sub-item{
      font-size: 1.25em;
      color: $link-color;
      cursor: pointer;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
  }
  .service-hidden{
    display:none;
  }
}
/* Contact */

.contact {
  padding: 0 10px;
  .lead-text, .contact-form{
    width: 100%;
  }
  font-family: $font-subtitle;
  p{
    font-family: $font-content;
  }
  form {
    margin-top: 20px;
    input[type=submit] {
      font-family: $font-subtitle;
      transition: background-color 0.5s ease;
      &:hover {
        background: $link-color;
        border-color: $link-color;
      }
    }
  }
  .copyright {
    font-family: $font-content;
    border-top: 1px #54514f solid;
    padding: 20px;
    .container {
      padding: 0;
      width: $width-container;
      margin: 0 auto;
      font-weight: 200;
      font-size: .85em;
      color: $light-color;
      a{
        color: $light-color;
        cursor: pointer;
        &:hover {
          color: $link-color;
        }
      }
    }
  }
}

/* Pagination */
#blog div.pagination{
  .page.current{
    color: $link-color !important;
    border-color: $link-color !important;
  }
}

/* Modals */
.modal {
  .modal-content {
    padding: 10px;
    border: 7px #ccc solid;
    .close-modal {
      font-family: $font-subtitle;
      border-radius: 500px;
      border: 1px $dark-block solid;
      background: none;
      padding: 0.5em 1em;
      &.dark {
        background: $dark-block;
        color: $light-color
      }
      &.big{
        padding: 1em 1.25em;
      }
    }
  }
}

/*  Cookies Alert */

.cookies-alert {
  padding: 1em 0;
  .content{
    button { 
      border: 1px white solid;
      background: none;
      &:hover{
        background: $link-color;
        border-color: $link-color;
        color: white;
      }
    }
  }
}

/* Administration */

#copyLinkButton{
  color: $link-color;
  cursor: pointer;
}



