@import 'patricia_carmona_colors';
@import "fonts";

/* Sizes */

$break-small: 320px;
$break-large: 927px;

/* Commons */
a{
  color: $link-color;
  &:hover{
    color: #684e79;
    text-decoration: none;
  }
}

/* Navbar */
.navbar {
  .navbar-brand {
    font-family: $font-title;
    span {
      font-family: $font-titleHighlight;
    }
    @media only screen and (max-width: $break-large) {
      margin-left: 0 !important;
    }
  }
  .navbar-nav {
    font-family: $font-title;
    height: 50px;
    li {
      cursor: pointer;
      width: 100px;
      text-align: center;
      &:hover{
        border-bottom: 3px $link-color solid;
      }
    }
  }
}

/* Header */
#blog {
  .container .header {
    background: #f5f5f5 url("patri_header.png") no-repeat 0 0;
    min-height: 350px;
    .container {
      padding: 0;
      .col-md-12{
        padding: 0;
        h1 {
          font-family: $font-title;
          font-size: 42px;
          span {
            font-family: $font-titleHighlight;
          }
        }
        h2 {
          font-family: $font-subtitle !important;
          font-size: 28px;
        }
        h3.title {
          font-family: $font-content !important;
          font-size: 24px;
        }
      }
    }
    @media only screen and (max-width: $break-large) {
      padding: 10px 1em;
      background-size: cover;
      background-position-x: 70%;
      .subscription {
        margin-top: 1em;
        input {
          float: left;
          margin-right: 1px;
          width: 100%;
        }
        input[type=submit] {
          border: 1px #d6131d solid;
        }
      }
    }
  }
  .blog-info{
    @media only screen and (max-width: $break-large) {
      padding: 0 1em;
    }
  }
}

/* Post */

.post {
  .post-title {
    color: $title;
  }
  .post-subtitle {
    color: $sub-title;
    margin-bottom: 2em;
  }
  .post-content {
    font-family: $font-content;
    color: $content;
    .medium-insert-images-progress{
      display:none;
    }
    img {
      margin: 1em 0;
    }
  }
  .share-postLabel{
    font-family: 'Indie Flower', cursive;
    color: $link-color;
    width: 220px !important;
  }
  .post-actions {
    padding: 10px 0;
    li{ 
      width: 30px; 
      height: 30px;
      background-position: center top;
      background-size: 100% auto;
      background-repeat: no-repeat;
      padding: 0;
      margin-left: 10px;
      &:last-child{
        width: 100px;
        padding-top: 3px;
      }
      a{
        display: block;
        width: 100%;
      }
    }
    .linkedin { background-image: url('icons/linkedin.png') }
    .facebook { background-image: url('icons/facebook.png') }
    .twitter { background-image: url('icons/twitter.png') }
    .google { background-image: url('icons/google.png') }
  }
  @media only screen and (max-width: $break-large) {
    padding: 0 1em;
  }
}

.author-info{
  color: #3b444f;
  .title{
    font-family: $font-title;
    font-size: 22px;
  }
  p {
    font-family: $font-subtitle;
    font-size: 18px;
  }
  .see_more {
    float: right;
    a {
      font-family: $font-subtitle;
      font-size: 18px;
    }
  }
  @media only screen and (max-width: $break-large) {
    padding: 0 1em;
  }
}
.author-infoAvatar{
  text-align:center;
  img{
    border: 1px #ccc solid;
  }
}
.author-links{
  width:100%;
  text-align: center;
}
/* Post Resume */

.post-resume{
  .date {
    background-color: #000;
    border-radius: 1000px;
    color: white;
    cursor: pointer;
    float: left;
    font-family: $font-subtitle;
    margin-right: 1em;
    padding: 18px 12px;
    text-align: center;
    transition: background-color 0.5s ease;
    &:hover {
      color: #000;
      background-color: $link-color;
    }
    .big {
      font-family: $font-title;
      font-size: 1.2em;
    }
    .small {
      font-size: 0.8em;
    }
  }
  .post-resume-title{
    float: left;
    color: $title;
    padding: 0;
    overflow: hidden;
  }
  .post-resume-content{
    color: $content;
    width: 100%;
    clear: both;
    padding-top: 1em;
    .show-more {
      float:right;
      font-size: .85em;
    }
  }
  .post-info{
    color: $content;
    font-style: italic;
    font-weight: 200;
  }
}

/* Subscription Block */
.subscription {
  background-color: $dark-block;
  .title{
    font-family: $font-title;
  }
  form {
    input[type=text] {
      font-family: $font-subtitle;
    }
    input[type=submit] {
      font-family: $font-subtitle;
      background-color: #cb2027;
      border: 1px #cb2027 solid;
      cursor: pointer;
      transition: background-color 0.5s ease;
    }
    input[type=submit]:hover {
      background: $link-color;
      border-color: $link-color;
    }
  }
}

.subcription-post{
  padding: 2em;
}

/* About */

.about{
  height: 350px;
  border-top: 3px rgba(204,204,204,0.6) solid;
  h2 {
    font-family: $font-title;
  }
  ul.services {
    text-align: center;
    margin-top: 2em !important;
    overflow: hidden;
    li {
      width: 180px;
      margin-left: 10px;
      text-align:center;
      border: 2px $dark-block solid;
      padding: 10px 0;
      margin-bottom: 5px;
      cursor: pointer;
      transition: background-color 0.5s ease;
      &:hover{
        background: $link-color;
        border-color: $link-color;
        color: white;
      }
      @media only screen and (max-width: $break-large) {
        width: 30%;
      }
    }
  }
  #about-me-hidden {
    display: none;
  }
  .service{
    .sub-item{
      font-size: 1.25em;
      color: $link-color;
      cursor: pointer;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
  }
  .service-hidden{
    display:none;
  }
  @media only screen and (max-width: $break-large) {
    background-position-x: 40%;
    background-size: cover;
    .container {
      width: 100%;
      padding: 0 1em;
    }
  }
}
/* Contact */

.contact {
  padding-bottom: 0;
  font-family: $font-subtitle;
  p{
    font-family: $font-content;
  }
  form {
    input[type=submit] {
      font-family: $font-subtitle;
      transition: background-color 0.5s ease;
      &:hover {
        background: $link-color;
        border-color: $link-color;
      }
    }
  }
  .copyright {
    font-family: $font-content;
    border-top: 1px #54514f solid;
    padding: 20px;
    .container {
      padding: 0;
      width: 927px;
      margin: 0 auto;
      font-weight: 200;
      font-size: .85em;
      color: $light-color;
      a{
        color: $light-color;
        cursor: pointer;
        &:hover {
          color: $link-color;
        }
      }
    }
  }
}

/* Pagination */
#blog div.pagination{
  .page.current{
    color: $link-color !important;
    border-color: $link-color !important;
  }
}

/* Modals */
.modal {
  .modal-content {
    padding: 10px;
    border: 7px #ccc solid;
    .close-modal {
      font-family: $font-subtitle;
      border-radius: 500px;
      border: 1px $dark-block solid;
      background: none;
      padding: 0.5em 1em;
      &.dark {
        background: $dark-block;
        color: $light-color
      }
      &.big{
        padding: 1em 1.25em;
      }
    }
  }
}

/* Administration */

#copyLinkButton{
  color: $link-color;
  cursor: pointer;
}



