#resources {
  background-color: white;
  min-height: 800px;
  .container {
    background-color: transparent !important;
    color: $content;
    font-size: .85em;
    margin: 0 auto !important;
    padding: 0;
    width: 927px !important;
    .resources-header {
      margin-top: 30px;
      overflow: hidden;
      .resources-headerTitle {
        font-family: $font-titleHighlight;
        font-size: 36px;
        padding: 0;
        margin-bottom: 30px;
      }
      .resources-headerLead {
        color: $content;
        font-family: $font-subtitle;
        font-size: 18px;
        line-height: 28px;
        margin-top: 15px;
      }
      div.creativity{
        background: url(resources.gif) no-repeat -75px -25px;
        background-size: cover;
        height: 300px;
        overflow:hidden;
      }
      div {
        padding: 0;
      }
    }
    .resources-nav {
      margin: 20px 0;
      .nav-tabs {
        li {
          cursor:pointer;
          font-family: $font-subtitle;
          font-size:16px;
          text-align: center;
          a {
            color: $content;
          }
          &.active {
            font-family: $font-titleHighlight;
          }
          &:hover {
            font-family: $font-titleHighlight;
          }
        }
      }
    }
    .resource {
      padding-bottom: 20px;
      overflow: hidden;
      .resource-title {
        font-family: $font-titleHighlight;
        margin-bottom: 10px;
        padding: 0;
      }
      .resource-category {
        margin-bottom: 15px;
        span {
          background-color: $link-color;
          border-radius: 15px;
          color: white;
          font-family: $font-subtitle;
          font-size: 14px;
          padding: 3px 10px;
        }
      }
      .resource-description {
        color: $content;
        font-family: $font-subtitle;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;
      }
      .resource-link {
        display: block;
        a {
          display: flex;
          font-family: $font-title;
          font-size: 14px;
          vertical-align: middle;
          span{
            font-family: "Roboto Light";
            padding: 5px 0 0 5px;
          }
        }
        .likes{
          cursor: pointer;
          height: 30px;
          margin-left: 0;
          overflow:hidden;
          width: 80px;
          i{
            border-color: $link-color;
            color: $link-color;
            float:left;
            margin-right: 7px;
          }
          button{
            background: none;
            border: 0;
            color: $link-color;
            font-family: $font-subtitle;
            padding: 5px 0;
          }
        }
      }
    }
  }
}