= simple_form_for [:administration, category], html: { id: 'category-form' } do |f|
  .form-group
    = f.input :name, input_html: { placeholder: 'Name', class: 'form-control'}, 'autofocus': true
  .form-group
    = f.input :description, input_html: { placeholder: 'Description', class: 'form-control' }, as: :text
  .form-group
    =link_to '#',  class: 'btn btn-lg btn-default', onclick: 'clean_form.first_step();' do
      Back
    = f.submit 'Finalizar', class: 'btn btn-lg btn-primary submit-btn right'

%script
  post.initialize('#post_content')