.comments-review
  .col-md-6.pending
    %h3
      Pendientes de revisar
    - if @pending_comment.nil?
      No hay commentarios pendientes, well done!
    - else
      - @pending_comments.each do |comment|
        = render comment
  .col-md-6.approved
    %h3
      Aprobados
    - if @approved_comments.nil?
      No hay commentarios publicados aun.
    - else
      - @approved_comments.each do |comment|
        = render comment